/***************************************************************************************
                                FONT COLOR CSS
***************************************************************************************/
.text-heading {
    color: #41464B;
    text-transform: uppercase;
}

.text-heading-white {
    color: #fff;
}

.text-content {
    color: #64707B;
    font-weight: 100;
}


/***************************************************************************************
                                PARALLAX IMAGE
***************************************************************************************/


.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



/***************************************************************************************
                                GENERAL SECTION CSS
***************************************************************************************/

.btn-general {
    border: solid 2px #fff;
    border-radius: 0;
    padding: 12px 26px;
    text-transform: uppercase;
    font-weight: bold;
}


.btn-white {
    color: #FFF;
    border-color: #FFF;
}

.btn-white:hover,
.btn-white:focus {
    background: #FFF;
    color: #41464B;
}


.btn-blue {
    color: #34C6D3;
    border-color: #34C6D3;
}

.btn-blue:hover,
.btn-blue:focus {
    background: #34C6D3;
    color: #FFF;
}

.bottom-margin {
    margin-bottom: 30px;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;

}

/***************************************************************************************
                                HOME SECTION CSS
***************************************************************************************/
.home-section {
    height: 100%;
}

.home-cover {
    background-image: url('../img/patrick-tomasso-432041-unsplash.jpg');
    /*
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
*/
    height: 100%;
    padding: 15em 0em;
}


.home-content-box {
    width: 100%;
    height: 100%;
    display: table;

}

.home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/*this would change my
words on the image*/
.home-section .text-heading {
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0;
    /*    text-transform: uppercase;*/
}

/***************************************************************************************
                                 ANIMATE.CSS
***************************************************************************************/

/*css to animate things in home section*/
.home-cover,
.text-heading,
.home-btn {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.home-cover {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;

}

.text-heading {
    /*    animation-duration: .5s;*/
    /*    cz we are giving one common which would work for all */
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.home-btn {
    /*    animation-duration: .5s;*/
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

/***************************************************************************************
                                CONTENT BOX CSS
***************************************************************************************/

.content-box {
    padding: 60px 0;
}

.content-title .text-heading {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background: #34C6D3;
    margin: 0 auto 30px;
    /*so that vo center mai aaye */

}
